In [1]:
import pandas as pd

from bq_helper import BigQueryHelper
from sys import getsizeof

In [2]:
from google.cloud import storage


def authenticate_implicit_with_adc(project_id="blockchainmirani123"):
    """
    When interacting with Google Cloud Client libraries, the library can auto-detect the
    credentials to use.

    // TODO(Developer):
    //  1. Before running this sample,
    //  set up ADC as described in https://cloud.google.com/docs/authentication/external/set-up-adc
    //  2. Replace the project variable.
    //  3. Make sure that the user account or service account that you are using
    //  has the required permissions. For this sample, you must have "storage.buckets.list".
    Args:
        project_id: The project id of your Google Cloud project.
    """

    # This snippet demonstrates how to list buckets.
    # *NOTE*: Replace the client created below with the client required for your application.
    # Note that the credentials are not specified when constructing the client.
    # Hence, the client library will look for credentials using ADC.
    storage_client = storage.Client(project=project_id)
    buckets = storage_client.list_buckets()
    print("Buckets:")
    for bucket in buckets:
        print(bucket.name)
    print("Listed all storage buckets.")

In [3]:
import os
os.environ["GCLOUD_PROJECT"] = "blockchainmirani123"

## Bitcoin

In [ ]:
bq_assist = BigQueryHelper('bigquery-public-data', 'bitcoin_blockchain')

In [ ]:
df = bq_assist.head('transactions')
df

In [ ]:
tx_hash = df.loc[3]['transaction_id']
print(tx_hash)
type(tx_hash)

In [ ]:
df_bitcoin_block = bq_assist.head('blocks')
df_bitcoin_block

In [ ]:
block_hash = df_bitcoin_block.loc[4]['block_id']
print(block_hash)
type(block_hash)

## Ethereum

In [ ]:
bq_assist2 = BigQueryHelper('bigquery-public-data', 'ethereum_blockchain')

In [ ]:
df = bq_assist2.head('transactions')
df

In [ ]:
tx_hash = df.loc[4]['block_hash']
print(tx_hash)
type(tx_hash)

In [ ]:
bq_assist2.head('blocks')

## Connecting to Blockchain Data API

In [ ]:
#pd.set_option('display.max_colwidth', None)

### Bitcoin Transactions

In [ ]:
!curl --request GET "https://blockchain.info/rawtx/b6f6991d03df0e2e04dafffcd6bc418aac66049e2cd74b80f14ac86db1e3f0da"

In [ ]:
!curl --request GET -o current-transaction.json "https://blockchain.info/rawtx/$tx_hash"

In [ ]:
pd.read_json('current-transaction.json')

### Bitcoin Blocks

In [ ]:
!curl --request GET curl "https://api.blockcypher.com/v1/btc/main/blocks/671142?txstart=1"

In [ ]:
!curl --request GET "https://blockchain.info/rawblock/$block_hash"

In [ ]:
#pd.read_json('current-block.json')

### Ethereum Transactions

In [ ]:
!curl --request GET "https://blockchain.info/rawtx/0x1f5924f473b40ec73ba6f3d43dee579f234729e3b1a9680d3ecf555c7fa856c4"

### Ethereum Blocks

In [ ]:
!curl --request GET "https://blockchain.info/rawblock/https://blockchain.info/rawblock/$block_hash"

### Different API

!curl --request GET "https://api.blockcypher.com/v1/btc/main/txs/f854aebae95150b379cc1187d848d58225f3c4157fe992bcd166f58bd5063449"

### Python

In [ ]:
import blockcypher
from blockcypher import get_transaction_details
get_transaction_details('9b9d3a70b70df897e2383fe16a09286502222f7ca06653d8279fb744105aaea4')

### Query Transaction Data by M/Yr

In [ ]:
# Practice w/ small dataset

In [4]:
bq_assist = BigQueryHelper('bigquery-public-data', 'bitcoin_blockchain')
df = bq_assist.head('transactions')
df = df.sort_values(by=['timestamp'])

In [122]:
df

,timestamp,transaction_id,inputs,outputs,block_id,previous_block,merkle_root,nonce,version,work_terahash,work_error,datetime,year,month,monthyear,stringmonth,stringmonthyear
0,1241693386000,b78dd4052c5c19ed15bff7f7cbc072cb87601680165412...,[{'input_script_bytes': b'\x04\xff\xff\x00\x1d...,"[{'output_satoshis': 5000000000, 'output_scrip...",000000006b6810ea2b71871065c31f0939c61bc73ca19e...,000000009f9639803e3a9424f210004c25c2c2e6a85836...,b78dd4052c5c19ed15bff7f7cbc072cb87601680165412...,3796474150,1,0,None,2009-05-07 10:49:46,2009,5,052009,0 5\n3 12\n1 12\n2 12\n4 6\nN...,052009
3,1261474382000,9b9d3a70b70df897e2383fe16a09286502222f7ca06653...,[{'input_script_bytes': b'\x04\xff\xff\x00\x1d...,"[{'output_satoshis': 5000000000, 'output_scrip...",000000006224e9ce1dbe8a9b593d8f0485a19983b479bd...,00000000833508fb6be4b80e977e3eaa04994353b81cb3...,9b9d3a70b70df897e2383fe16a09286502222f7ca06653...,40052755,1,0,None,2009-12-22 09:33:02,2009,12,122009,0 5\n3 12\n1 12\n2 12\n4 6\nN...,122009
1,1261947871000,bfcb4467092290da3bee702d5ffedfe1933c36a18b0e77...,[{'input_script_bytes': b'\x04\xff\xff\x00\x1d...,"[{'output_satoshis': 5000000000, 'output_scrip...",000000003d0aa75d182618516bf64536d94119d23ef412...,00000000c1405320b87082391bd82155d88728dea85cd6...,bfcb4467092290da3bee702d5ffedfe1933c36a18b0e77...,296968200,1,0,None,2009-12-27 21:04:31,2009,12,122009,0 5\n3 12\n1 12\n2 12\n4 6\nN...,122009
2,1262072718000,a069017c031239357a6d325c7a10e6f4ed7cb722b1cb38...,[{'input_script_bytes': b'\x04\xff\xff\x00\x1d...,"[{'output_satoshis': 5000000000, 'output_scrip...",00000000b574d15c470a479874f19ea232b8b26e3ab742...,00000000adfab959a70c842627272d1ab2124d5ced5e2b...,a069017c031239357a6d325c7a10e6f4ed7cb722b1cb38...,132461744,1,0,None,2009-12-29 07:45:18,2009,12,122009,0 5\n3 12\n1 12\n2 12\n4 6\nN...,122009
4,1277392209000,3fe2d7fa73e776f591e075783bc24cbd3e2fff8d444c72...,[{'input_script_bytes': b'\x04B1\r\x1c\x02\r\x...,"[{'output_satoshis': 5000000000, 'output_scrip...",0000000001ad7196de0396085a3fa95f2322722aa8b805...,000000000393cb2dc72fc296c66d9a19d2c01493e70c6d...,22d86d39b6d1226fbc372ce90f19e21c8b656ede4d8a8c...,90360458,1,0,None,2010-06-24 15:10:09,2010,6,062010,0 5\n3 12\n1 12\n2 12\n4 6\nN...,062010

In [81]:
df['datetime'] = pd.to_datetime(df['timestamp'], unit='ms')
df['year'] = pd.DatetimeIndex(df['datetime']).year
df['month'] = pd.DatetimeIndex(df['datetime']).month
df['monthyear'] = df['datetime'].dt.strftime("%m%Y")
df

,timestamp,transaction_id,inputs,outputs,block_id,previous_block,merkle_root,nonce,version,work_terahash,work_error,datetime,year,month,monthyear
0,1241693386000,b78dd4052c5c19ed15bff7f7cbc072cb87601680165412...,[{'input_script_bytes': b'\x04\xff\xff\x00\x1d...,"[{'output_satoshis': 5000000000, 'output_scrip...",000000006b6810ea2b71871065c31f0939c61bc73ca19e...,000000009f9639803e3a9424f210004c25c2c2e6a85836...,b78dd4052c5c19ed15bff7f7cbc072cb87601680165412...,3796474150,1,0,None,2009-05-07 10:49:46,2009,5,052009
3,1261474382000,9b9d3a70b70df897e2383fe16a09286502222f7ca06653...,[{'input_script_bytes': b'\x04\xff\xff\x00\x1d...,"[{'output_satoshis': 5000000000, 'output_scrip...",000000006224e9ce1dbe8a9b593d8f0485a19983b479bd...,00000000833508fb6be4b80e977e3eaa04994353b81cb3...,9b9d3a70b70df897e2383fe16a09286502222f7ca06653...,40052755,1,0,None,2009-12-22 09:33:02,2009,12,122009
1,1261947871000,bfcb4467092290da3bee702d5ffedfe1933c36a18b0e77...,[{'input_script_bytes': b'\x04\xff\xff\x00\x1d...,"[{'output_satoshis': 5000000000, 'output_scrip...",000000003d0aa75d182618516bf64536d94119d23ef412...,00000000c1405320b87082391bd82155d88728dea85cd6...,bfcb4467092290da3bee702d5ffedfe1933c36a18b0e77...,296968200,1,0,None,2009-12-27 21:04:31,2009,12,122009
2,1262072718000,a069017c031239357a6d325c7a10e6f4ed7cb722b1cb38...,[{'input_script_bytes': b'\x04\xff\xff\x00\x1d...,"[{'output_satoshis': 5000000000, 'output_scrip...",00000000b574d15c470a479874f19ea232b8b26e3ab742...,00000000adfab959a70c842627272d1ab2124d5ced5e2b...,a069017c031239357a6d325c7a10e6f4ed7cb722b1cb38...,132461744,1,0,None,2009-12-29 07:45:18,2009,12,122009
4,1277392209000,3fe2d7fa73e776f591e075783bc24cbd3e2fff8d444c72...,[{'input_script_bytes': b'\x04B1\r\x1c\x02\r\x...,"[{'output_satoshis': 5000000000, 'output_scrip...",0000000001ad7196de0396085a3fa95f2322722aa8b805...,000000000393cb2dc72fc296c66d9a19d2c01493e70c6d...,22d86d39b6d1226fbc372ce90f19e21c8b656ede4d8a8c...,90360458,1,0,None,2010-06-24 15:10:09,2010,6,062010

In [132]:
df['stringmonthyear'] = df['monthyear'].astype(str)
df

,timestamp,transaction_id,inputs,outputs,block_id,previous_block,merkle_root,nonce,version,work_terahash,work_error,datetime,year,month,monthyear,stringmonthyear
0,1241693386000,b78dd4052c5c19ed15bff7f7cbc072cb87601680165412...,[{'input_script_bytes': b'\x04\xff\xff\x00\x1d...,"[{'output_satoshis': 5000000000, 'output_scrip...",000000006b6810ea2b71871065c31f0939c61bc73ca19e...,000000009f9639803e3a9424f210004c25c2c2e6a85836...,b78dd4052c5c19ed15bff7f7cbc072cb87601680165412...,3796474150,1,0,None,2009-05-07 10:49:46,2009,5,052009,052009
3,1261474382000,9b9d3a70b70df897e2383fe16a09286502222f7ca06653...,[{'input_script_bytes': b'\x04\xff\xff\x00\x1d...,"[{'output_satoshis': 5000000000, 'output_scrip...",000000006224e9ce1dbe8a9b593d8f0485a19983b479bd...,00000000833508fb6be4b80e977e3eaa04994353b81cb3...,9b9d3a70b70df897e2383fe16a09286502222f7ca06653...,40052755,1,0,None,2009-12-22 09:33:02,2009,12,122009,122009
1,1261947871000,bfcb4467092290da3bee702d5ffedfe1933c36a18b0e77...,[{'input_script_bytes': b'\x04\xff\xff\x00\x1d...,"[{'output_satoshis': 5000000000, 'output_scrip...",000000003d0aa75d182618516bf64536d94119d23ef412...,00000000c1405320b87082391bd82155d88728dea85cd6...,bfcb4467092290da3bee702d5ffedfe1933c36a18b0e77...,296968200,1,0,None,2009-12-27 21:04:31,2009,12,122009,122009
2,1262072718000,a069017c031239357a6d325c7a10e6f4ed7cb722b1cb38...,[{'input_script_bytes': b'\x04\xff\xff\x00\x1d...,"[{'output_satoshis': 5000000000, 'output_scrip...",00000000b574d15c470a479874f19ea232b8b26e3ab742...,00000000adfab959a70c842627272d1ab2124d5ced5e2b...,a069017c031239357a6d325c7a10e6f4ed7cb722b1cb38...,132461744,1,0,None,2009-12-29 07:45:18,2009,12,122009,122009
4,1277392209000,3fe2d7fa73e776f591e075783bc24cbd3e2fff8d444c72...,[{'input_script_bytes': b'\x04B1\r\x1c\x02\r\x...,"[{'output_satoshis': 5000000000, 'output_scrip...",0000000001ad7196de0396085a3fa95f2322722aa8b805...,000000000393cb2dc72fc296c66d9a19d2c01493e70c6d...,22d86d39b6d1226fbc372ce90f19e21c8b656ede4d8a8c...,90360458,1,0,None,2010-06-24 15:10:09,2010,6,062010,062010

In [141]:
d = {}
for name, group in df.groupby('stringmonthyear'):
    print("name: " + name)
    print(group)
# how to save json file for each group?

name: 052009
       timestamp                                     transaction_id  \
0  1241693386000  b78dd4052c5c19ed15bff7f7cbc072cb87601680165412...

                                              inputs  \
0  [{'input_script_bytes': b'\x04\xff\xff\x00\x1d...

                                             outputs  \
0  [{'output_satoshis': 5000000000, 'output_scrip...

                                            block_id  \
0  000000006b6810ea2b71871065c31f0939c61bc73ca19e...

                                      previous_block  \
0  000000009f9639803e3a9424f210004c25c2c2e6a85836...

                                         merkle_root       nonce  version  \
0  b78dd4052c5c19ed15bff7f7cbc072cb87601680165412...  3796474150        1

   work_terahash work_error            datetime  year  month monthyear  \
0              0       None 2009-05-07 10:49:46  2009      5    052009

  stringmonthyear
0          052009
name: 062010
       timestamp                                     transaction_id  \
4  1277392209000  3fe2d7fa73e776f591e075783bc24cbd3e2fff8d444c72...

                                              inputs  \
4  [{'input_script_bytes': b'\x04B1\r\x1c\x02\r\x...

                                             outputs  \
4  [{'output_satoshis': 5000000000, 'output_scrip...

                                            block_id  \
4  0000000001ad7196de0396085a3fa95f2322722aa8b805...

                                      previous_block  \
4  000000000393cb2dc72fc296c66d9a19d2c01493e70c6d...

                                         merkle_root     nonce  version  \
4  22d86d39b6d1226fbc372ce90f19e21c8b656ede4d8a8c...  90360458        1

   work_terahash work_error            datetime  year  month monthyear  \
4              0       None 2010-06-24 15:10:09  2010      6    062010

  stringmonthyear
4          062010
name: 122009
       timestamp                                     transaction_id  \
3  1261474382000  9b9d3a70b70df897e2383fe16a09286502222f7ca06653...
1  1261947871000  bfcb4467092290da3bee702d5ffedfe1933c36a18b0e77...
2  1262072718000  a069017c031239357a6d325c7a10e6f4ed7cb722b1cb38...

                                              inputs  \
3  [{'input_script_bytes': b'\x04\xff\xff\x00\x1d...
1  [{'input_script_bytes': b'\x04\xff\xff\x00\x1d...
2  [{'input_script_bytes': b'\x04\xff\xff\x00\x1d...

                                             outputs  \
3  [{'output_satoshis': 5000000000, 'output_scrip...
1  [{'output_satoshis': 5000000000, 'output_scrip...
2  [{'output_satoshis': 5000000000, 'output_scrip...

                                            block_id  \
3  000000006224e9ce1dbe8a9b593d8f0485a19983b479bd...
1  000000003d0aa75d182618516bf64536d94119d23ef412...
2  00000000b574d15c470a479874f19ea232b8b26e3ab742...

                                      previous_block  \
3  00000000833508fb6be4b80e977e3eaa04994353b81cb3...
1  00000000c1405320b87082391bd82155d88728dea85cd6...
2  00000000adfab959a70c842627272d1ab2124d5ced5e2b...

                                         merkle_root      nonce  version  \
3  9b9d3a70b70df897e2383fe16a09286502222f7ca06653...   40052755        1
1  bfcb4467092290da3bee702d5ffedfe1933c36a18b0e77...  296968200        1
2  a069017c031239357a6d325c7a10e6f4ed7cb722b1cb38...  132461744        1

   work_terahash work_error            datetime  year  month monthyear  \
3              0       None 2009-12-22 09:33:02  2009     12    122009
1              0       None 2009-12-27 21:04:31  2009     12    122009
2              0       None 2009-12-29 07:45:18  2009     12    122009

  stringmonthyear
3          122009
1          122009
2          122009

In [117]:
d.values()

dict_values([       timestamp                                     transaction_id  \
0  1241693386000  b78dd4052c5c19ed15bff7f7cbc072cb87601680165412...

                                              inputs  \
0  [{'input_script_bytes': b'\x04\xff\xff\x00\x1d...

                                             outputs  \
0  [{'output_satoshis': 5000000000, 'output_scrip...

                                            block_id  \
0  000000006b6810ea2b71871065c31f0939c61bc73ca19e...

                                      previous_block  \
0  000000009f9639803e3a9424f210004c25c2c2e6a85836...

                                         merkle_root       nonce  version  \
0  b78dd4052c5c19ed15bff7f7cbc072cb87601680165412...  3796474150        1

   work_terahash work_error            datetime  year  month monthyear  \
0              0       None 2009-05-07 10:49:46  2009      5    052009

                                         stringmonth stringmonthyear
0  0     5\n3    12\n1    12\n2    12\n4     6\nN...          052009  ,        timestamp                                     transaction_id  \
4  1277392209000  3fe2d7fa73e776f591e075783bc24cbd3e2fff8d444c72...

                                              inputs  \
4  [{'input_script_bytes': b'\x04B1\r\x1c\x02\r\x...

                                             outputs  \
4  [{'output_satoshis': 5000000000, 'output_scrip...

                                            block_id  \
4  0000000001ad7196de0396085a3fa95f2322722aa8b805...

                                      previous_block  \
4  000000000393cb2dc72fc296c66d9a19d2c01493e70c6d...

                                         merkle_root     nonce  version  \
4  22d86d39b6d1226fbc372ce90f19e21c8b656ede4d8a8c...  90360458        1

   work_terahash work_error            datetime  year  month monthyear  \
4              0       None 2010-06-24 15:10:09  2010      6    062010

                                         stringmonth stringmonthyear
4  0     5\n3    12\n1    12\n2    12\n4     6\nN...          062010  ,        timestamp                                     transaction_id  \
3  1261474382000  9b9d3a70b70df897e2383fe16a09286502222f7ca06653...
1  1261947871000  bfcb4467092290da3bee702d5ffedfe1933c36a18b0e77...
2  1262072718000  a069017c031239357a6d325c7a10e6f4ed7cb722b1cb38...

                                              inputs  \
3  [{'input_script_bytes': b'\x04\xff\xff\x00\x1d...
1  [{'input_script_bytes': b'\x04\xff\xff\x00\x1d...
2  [{'input_script_bytes': b'\x04\xff\xff\x00\x1d...

                                             outputs  \
3  [{'output_satoshis': 5000000000, 'output_scrip...
1  [{'output_satoshis': 5000000000, 'output_scrip...
2  [{'output_satoshis': 5000000000, 'output_scrip...

                                            block_id  \
3  000000006224e9ce1dbe8a9b593d8f0485a19983b479bd...
1  000000003d0aa75d182618516bf64536d94119d23ef412...
2  00000000b574d15c470a479874f19ea232b8b26e3ab742...

                                      previous_block  \
3  00000000833508fb6be4b80e977e3eaa04994353b81cb3...
1  00000000c1405320b87082391bd82155d88728dea85cd6...
2  00000000adfab959a70c842627272d1ab2124d5ced5e2b...

                                         merkle_root      nonce  version  \
3  9b9d3a70b70df897e2383fe16a09286502222f7ca06653...   40052755        1
1  bfcb4467092290da3bee702d5ffedfe1933c36a18b0e77...  296968200        1
2  a069017c031239357a6d325c7a10e6f4ed7cb722b1cb38...  132461744        1

   work_terahash work_error            datetime  year  month monthyear  \
3              0       None 2009-12-22 09:33:02  2009     12    122009
1              0       None 2009-12-27 21:04:31  2009     12    122009
2              0       None 2009-12-29 07:45:18  2009     12    122009

                                         stringmonth stringmonthyear
3  0     5\n3    12\n1    12\n2    12\n4     6\nN...          122009
1  0     5\n3    12\n1    12\n2    12\n4     6\nN...          122009
2  0     5\n3    12\n1    12\n2    12\n4     6\nN...          122009  ])

In [ ]:
## Real

In [165]:
QUERY = "SELECT timestamp FROM `bigquery-public-data.bitcoin_blockchain.transactions` LIMIT 100"

In [166]:
bq_assist.estimate_query_size(QUERY)

2.5355185866355896

In [163]:
dftemp = bq_assist.query_to_pandas_safe(QUERY)

Query cancelled; estimated size of 2.5355185866355896 exceeds limit of 1 GB

In [167]:
# 2 hours
dftemp = bq_assist.query_to_pandas(QUERY)

In [168]:
dftemp

        timestamp
0   1241693386000
1   1261947871000
2   1262072718000
3   1261474382000
4   1277392209000
..            ...
95  1515379945000
96  1514969657000
97  1515688368000
98  1515272047000
99  1514800240000

[100 rows x 1 columns]

In [45]:
df2

               timestamp
0          1454918364000
1          1476646878000
2          1449874643000
3          1441218486000
4          1480344873000
...                  ...
340311539  1467509213000
340311540  1391795250000
340311541  1447797344000
340311542  1534287105000
340311543  1455609226000

[340311544 rows x 1 columns]

In [119]:
df2['datetime'] = pd.to_datetime(df2['timestamp'], unit='ms')

KeyboardInterrupt

In [ ]:
df2['monthyear'] = df2['datetime'].dt.strftime("%m%Y")

In [55]:
df2

               timestamp            datetime
0          1454918364000 2016-02-08 07:59:24
1          1476646878000 2016-10-16 19:41:18
2          1449874643000 2015-12-11 22:57:23
3          1441218486000 2015-09-02 18:28:06
4          1480344873000 2016-11-28 14:54:33
...                  ...                 ...
340311539  1467509213000 2016-07-03 01:26:53
340311540  1391795250000 2014-02-07 17:47:30
340311541  1447797344000 2015-11-17 21:55:44
340311542  1534287105000 2018-08-14 22:51:45
340311543  1455609226000 2016-02-16 07:53:46

[340311544 rows x 2 columns]

In [56]:
df2['year'] = pd.DatetimeIndex(df2['datetime']).year
df2['month'] = pd.DatetimeIndex(df2['datetime']).month
df2

               timestamp            datetime  year  month
0          1454918364000 2016-02-08 07:59:24  2016      2
1          1476646878000 2016-10-16 19:41:18  2016     10
2          1449874643000 2015-12-11 22:57:23  2015     12
3          1441218486000 2015-09-02 18:28:06  2015      9
4          1480344873000 2016-11-28 14:54:33  2016     11
...                  ...                 ...   ...    ...
340311539  1467509213000 2016-07-03 01:26:53  2016      7
340311540  1391795250000 2014-02-07 17:47:30  2014      2
340311541  1447797344000 2015-11-17 21:55:44  2015     11
340311542  1534287105000 2018-08-14 22:51:45  2018      8
340311543  1455609226000 2016-02-16 07:53:46  2016      2

[340311544 rows x 4 columns]

In [60]:
grouped = df2.groupby(['month','year'])
grouped

In [50]:
QUERY = "SELECT transaction_id FROM `bigquery-public-data.bitcoin_blockchain.transactions`"
bq_assist.estimate_query_size(QUERY)

20.918028339743614

In [51]:
df3 = bq_assist.query_to_pandas(QUERY)

Forbidden: 403 Response too large to return. Consider specifying a destination table in your job configuration. For more details, see https://cloud.google.com/bigquery/troubleshooting-errors

Location: US
Job ID: 74d829ec-f0fd-4e41-b8d1-c8c374006fda

#### Getting JSON formatted transaction data

In [ ]:
# select all fields from BigQuery data
# group by month and year
# make df for each month/year
# convert df to json for each month/year
# in this method, all data is obtained from big query not from API

In [175]:
# select all fields as well as month and year from the data
bquery = "SELECT * FROM `bigquery-public-data.bitcoin_blockchain.transactions` LIMIT 1"

In [176]:
bq_assist.estimate_query_size(bquery)

587.1436623074114

In [178]:
df = bq_assist.query_to_pandas(bquery)

Forbidden: 403 Quota exceeded: Your project exceeded quota for free query bytes scanned. For more information, see https://cloud.google.com/bigquery/docs/troubleshoot-quotas

Location: US
Job ID: 13873b3b-8be1-4308-aafc-ede76450f952

In [ ]:
# group by month and year
grouped = df3.group_by(['month','year'])

In [ ]:
# convert each group to json

## CoinBase API for Local Crypto

In [1]:
import cbpro
import pandas as pd
c = cbpro.PublicClient()

data = pd.DataFrame(c.get_products())
data.tail().T

,580,581,582,583,584
id,WBTC-USD,LTC-USD,WBTC-BTC,BTC-USDT,BOND-USDT
base_currency,WBTC,LTC,WBTC,BTC,BOND
quote_currency,USD,USD,BTC,USDT,USDT
quote_increment,0.01,0.01,0.0001,0.01,0.001
base_increment,0.00000001,0.00000001,0.00000001,0.00000001,0.001
display_name,WBTC/USD,LTC/USD,WBTC/BTC,BTC/USDT,BOND/USDT
min_market_funds,1,1,0.0001,1,1
margin_enabled,False,False,False,False,False
post_only,False,False,False,False,False
limit_only,True,False,False,False,False
cancel_only,False,False,False,False,False
status,online,online,online,online,online
status_message,,,,,
trading_disabled,False,False,False,False,False
fx_stablecoin,False,False,True,False,False
max_slippage_percentage,0.03000000,0.03000000,0.01000000,0.03000000,0.03000000
auction_mode,False,False,False,False,False
high_bid_limit_percentage,,,,,

In [24]:
ticker = c.get_product_ticker(product_id='MONA-USD')
ticker

{'ask': '521.95',
 'bid': '517.27',
 'volume': '247.6009',
 'trade_id': 758292,
 'price': '521.95',
 'size': '0.0379',
 'time': '2023-02-21T18:06:10.462639Z'}

In [35]:
historical = pd.DataFrame(c.get_product_historic_rates(product_id='KRB'))
historical.columns= ["Date","Open","High","Low","Close","Volume"]
historical['Date'] = pd.to_datetime(historical['Date'], unit='s')
historical.set_index('Date', inplace=True)
historical.sort_values(by='Date', ascending=True, inplace=True)
historical

ValueError: If using all scalar values, you must pass an index